<footer class="text-center text-lg-start mt-5" style="background-color: rgba(20, 44, 142, 1);">
    <div class="container d-flex justify-content-center py-5">
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2">
            <i class="bi bi-git""></i>
        </button>
        <button type=" button" class="btn btn-primary btn-lg btn-floating mx-2"
                style="background-color: rgba(0, 0, 0, 0.2);">
                <i class="bi bi-reddit"></i>
        </button>
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2"
            style="background-color: rgba(0, 0, 0, 0.2);">
            <i class="bi bi-twitch"></i>
        </button>
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2"
            style="background-color: rgba(0, 0, 0, 0.2);">
            <i class="bi bi-wordpress"></i>
        </button>
    </div>
    <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white text-decoration-none" href="">Jeremy Nguyen</a>
    </div>
</footer>